<!DOCTYPE html>
<html>

<head>
	<title>FlaskTest</title>
</head>

<body>
	


<!-- this section can be replaced by a child document -->

<form action="{{url_for('predict')}}" enctype="multipart/form-data" method="POST">
	<!-- <input type="text" name="text_val" required="required"/>
	 -->
	<input type="file" name="img" id="file" accept=".jpg, .png, .jpeg" required="required"/>
	<button type="submit" class="btn btn-primary btn-block btn-large"> submit </button>

</form>

<br>
<br>
<!-- <h4 style="color:black">
{{  prediction_text  }}
</h4> -->


</body>

</html>
